@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.about-me-section {
  margin-top: 50px;
  padding: 0 0 2rem 0;
  height: 100%;
  width: 100%;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px 0 50px;
}

.about-me-header {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2.5rem;
}

.about-me-header-name {
  color: #3498db;
}

.about-me-content {
  max-width: 1125px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

.about-me-text-container {
  min-width: 300px;
  width: 60%;
}

.skills-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #0d2438;
  padding: 25px;
}

.skills-container img {
  width: 75px;
  height: 75px;
}

.skills-container h2 {
  text-wrap: balance;
}

.follow {
  padding: 50px;
}

.about-me-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  margin-top: 50px;
}

.about-me-social-link {
  margin: 0 1rem;
  border-radius: 10px;
  padding: 15px;
  transition: color 0.2s ease-in-out;
  box-shadow: 0 3px 3px 0 black;
}

.about-me-social-link:hover {
  color: #2980b9;
}

.skills {
  max-width: 1125px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skills div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 125px;
  border-radius: 10px;
  margin: 25px;
}

.about-me-text {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: left;
}

.about-me-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.about-me-img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 2rem;
}

@media screen and (min-width: 0) {
  .about-me-content {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .about-me-container {
    max-width: 375px;
    justify-content: center;
    margin: 0 auto;
  }

}

@media screen and (min-width: 768px) {
  .about-me-content {
    align-items: flex-start;
    flex-direction: row;
  }

  .about-me-container {
    max-width: none;
  }
}