.form {
  color: white;
}


.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #102d44;
  height: 50%;
  max-width: 650px;
  box-shadow: 5px 5px 5px 5px rgb(15, 15, 15);
}

.contact-div {
  display: flex;
  min-height: 90vh;
  justify-content: center;
  margin-top: 150px;
  flex-direction: row-reverse;
}

@media screen and (max-width: 950px) {
  .contact-div {
    flex-direction: column;
    margin: 0 auto;
  }

  .contact-details {
    align-self: flex-start;
    margin: 0 auto;
  }

  .contact-container {
    width: 100%;
  }
}

.contact-header-name {
  color: #3498db;
}

.contact-details {
  color: white;
  height: 200px;
  padding: 10px;
  margin: 25px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2.5rem;
  margin: 2rem 0 0 0;
  color: white;
}

.form {
  height: fit-content;
  min-width: 50vh;
  padding: 2rem;
  border-radius: 10px;
}

.form-group {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 65%;
}

.form-group textarea {
  height: 125px;
}

.form-group label {
  width: 100%;
  text-align: left;
}


.form-style {
  padding: 13px 20px;
  border: 1px solid black;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  outline: none;
  color: #c4c3ca;
  background-color: #1e3851;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
  margin-bottom: 50px;
}

.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
}

label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.submit-btn {
    border: 1px solid #686bf1;
    padding: 15px;
    margin-bottom: 10px;
    width: 200px;
    background-color: #686bf1;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.submit-btn:hover {
    background-color: #5e60db;
}

