.wave {
    animation-name: wave-animation;

    animation-duration: 2.5s;

    animation-iteration-count: infinite;

    transform-origin: 70% 70%;

    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    100% {
        transform: rotate(0.0deg)
    }
}

.home-headshot {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75%;
    margin: 0 auto;
}

.home-headshot h2 {
    font-weight: bolder;
    font-size: 2.5rem;
}

.home-headshot h4 {
    font-size: 1.5rem;
}

.home-headshot img {
    width: 50%;
    max-width: 650px;
    min-width: 375px;
}

.home-headshot div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    min-width: 200px;
    font-weight: bolder;
}

.home-container {
    max-width: 100%;
    margin-top: 50px;
}

.home-buttons {
    border: 1px solid #686bf1;
    padding: 15px;
    margin: 10px;
    background-color: #eef2ff;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 grey;
}

.home-buttons:hover {
    background-color: #686bf1;
    color: white;
    transition: all .6s ease;
}

.home-button-resume {
    border: 1px solid #686bf1;
    padding: 15px;
    margin: 10px 10px 10px 0;
    background-color: #eef2ff;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 grey;
}

.home-button-resume:hover {
    background-color: #686bf1;
    color: white;
    transition: all .6s ease;
}

@media screen and (max-width: 775px) {
    .home-headshot {
        flex-direction: column-reverse;
    }
}

.home-intro {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing forwards 1.5s;
    animation-timing-function: steps(17, end);
    text-align: left;
}

.home-intro-sentence {
    min-width: 360px !important;
    max-width: 500px;
}

.download-resume {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    align-items: center !important;
}


.home-intro-job {
    animation: fade-in forwards 3s;
    text-align: left;
}

@keyframes typing {
    from { width: 0 } 
    to { width: 100% }
}


@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
