.wave {
    animation-name: wave-animation;

    animation-duration: 2.5s;

    animation-iteration-count: infinite;

    transform-origin: 70% 70%;

    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    10% {
        transform: rotate(14.0deg)
    }

    20% {
        transform: rotate(-8.0deg)
    }

    30% {
        transform: rotate(14.0deg)
    }

    40% {
        transform: rotate(-4.0deg)
    }

    50% {
        transform: rotate(10.0deg)
    }

    60% {
        transform: rotate(0.0deg)
    }

    100% {
        transform: rotate(0.0deg)
    }
}

.home-paragraph {
    width: 80%;
    min-height: 28rem;
    color: white;
    opacity: 0;
    animation: fade-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s forwards;
}

.home-headshot {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75%;
    margin: 0 auto;
}

.home-headshot h2 {
    font-weight: bolder;
    font-size: 2.5rem;
}

.home-headshot h4 {
    font-size: 1.5rem;
}

.home-headshot img {
    width: 50%;
    max-width: 650px;
    min-width: 375px;
}

.home-headshot div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    min-width: 200px;
    font-weight: bolder;
}

.welcome {
    color: white;
}



@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


#introPhoto {
    max-width: 200px;
    max-height: 300px;
    border-radius: 25%;
    margin-right: 10px;
    float: right;
}

.text-paragraph-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.text-paragraph-info p {
    width: 80%;
}

.text-paragraph-info img {
    min-height: 150px;
    min-width: 150px;
}

.home-projects {
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
}

.test {
    width: 100%;
}

.next-steps-span {
    height: 1px;
    min-width: 25%;
    background-color: #3498db;
}

.next-steps-h2 {
    color: #3498db;
    width: 25%;
}

.seperator-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-projects img {
    margin: 10px;
}

.home-container {
    min-width: 600px;
    max-width: 100%;
    color: white;
    margin-top: 50px;
}

.home-container h3 {
    width: 50%;
}

.home-container-button {
    background-color: transparent !important;
    color: #3498db !important;
    margin: 25px;
}

.home-buttons {
    border: 1px solid #686bf1;
    padding: 15px;
    margin: 10px;
    background-color: #eef2ff;
    color: gray;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 1px 1px 0 grey;
}

.home-buttons:hover {
    background-color: #686bf1;
    color: white;
}

.about-me-social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
}

.about-me-social-link {
    margin: 0 1rem;
    color: #9ca3af;
    border-radius: 10px;
    background-color: #1e3851;
    padding: 15px;
    transition: color 0.2s ease-in-out;
}

.about-me-social-link:hover {
    color: #2980b9;
}

.follow-me {
    margin: 0 auto;
    width: 75%;
}

@media screen and (max-width: 620px) {
    .home-headshot {
        flex-direction: column-reverse;
    }
}

@media screen and (min-width: 768px) {
    .paragraph-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}