.project-details-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-family: "GeneralSans-Regular";
  max-width: 1750px;
  margin-top: 100px;
}

.project-title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-family: "GeneralSans-Medium";
  font-weight: 700;
  min-width: 200px;
  width: 50%;
  text-align: left;
}

.date-type {
  text-align: left;
  display: flex;
  flex-direction: row;
  width: clamp(125px, 25%, 225px);
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.img-container {
  display: flex;
  max-width: 1250px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 0;
  gap: 25px;
}

.img-container img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
}

.info {
  max-width: 1250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  width: 40%;
  height: 100%;
  min-width: 175px;
  text-align: left;
}

.about-client {
  font-size: 1rem;
  gap: 1px;
}

.about-client h4 {
  font-weight: 600;
  font-size: 1.75rem;
}

.about-client p {
  margin: 0;
}

.about-client a {
   text-decoration: none;
   color: #3498db;
}

.about-client a:hover {
    text-decoration: underline;
    color: rgb(150, 121, 236);
}

.objective h4 {
  font-weight: 600;
  font-size: 1.75rem;
}

.objective p {
  font-size: 1rem;
}
.tools h4 {
  font-weight: 600;
  font-size: 1.75rem;
}

.tools p {
  font-size: 1rem;
}

.challenge-section {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.challenge-header {
  text-align: left;
  font-size: 2rem;
  font-weight: 600;
}

.challenge-paragraph {
  text-align: left;
  font-size: 1rem;
}
