.next-steps-span {
    height: 1px;
    min-width: 25%;
}

.next-steps-h2 {
    width: 25%;
}

.seperator-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
}

.homepage-social-link {
    margin: 0 1rem;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 3px 3px 0 black;
}

.homepage-social-link:hover {
    color: #2980b9;
}

.follow-me {
    margin: 0 auto;
    width: 75%;
}