.dropdown-toggle:after {
    display: none !important;
}

.nav {
    display: flex;
    flex-direction: column;
}

.dropdownLink {
    margin-right: 50px;
    float:right;
}
.navLink {
    text-decoration: none;
    color: white;
}

.links {
    margin: 5px;
}