@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.dropdown-toggle:after {
    display: none !important;
}

.nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 99999;
}

.navbar1 {
    height: 100%;
    width: 100%;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
}

.navbar2 {
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.nav-main {
    width: 100%;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.toneToggle {
    display: flex;  
    align-items: center;
    text-decoration: none;
}

.tone {
    border-radius: 5px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tone svg {
    margin: 0 auto;
}

.navLink {
    display: flex;  
    align-items: center;
    text-decoration: none;
    height: 100%;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
}

.navLink {
    color: #8b8b8b;
}

.nav-nathan {
    font-size: 18px;
    font-weight: bold;
}

.nav-title {
    color: #8b8b8b;
}

.navLink:hover {
    color: #3498db;
    border-bottom: 1px solid #3498db;
}

.links {
    display: flex;
    gap: 50px;
    justify-content: flex-start;
    margin-left: none !important;
    height: 100%;
    animation: fade-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
    transition: all .6s ease;
}

.nav-name {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
}

.links-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: rgba(15, 15, 15, 0.3);
    -webkit-animation: dropdown forwards 1s;
    -moz-animation: dropdown forwards 1s;
    -o-animation: dropdown forwards 1s;

}

.navLink2 {
    text-decoration: none;
    margin: 25px;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes dropdown {
    from {
        height: 0px;
        opacity: 0;
    }

    to {
        height: 100vh;
        opacity: 1;
    }
}