.dropdown-toggle:after {
    display: none !important;
}

.nav {
    display: flex;
    flex-direction: column;
    width: 100;
}

.navbar {
    padding: 10px !important;
    max-width: none !important;
    background-color: rgba(15, 15, 15, 0.3);
    backdrop-filter: blur(10px);
}

.navbar2 {
    position: fixed;
    width: 100% !important;
    padding: 10px !important;
    max-width: none !important;
    background-color: rgba(15, 15, 15, 0.3);
    backdrop-filter: blur(1px);
    filter: blur(0);
    z-index: 9999;
}

.nav-main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dropdownLink {
    margin-right: 50px;
    float: right;
}
.navLink {
    text-decoration: none;
    color: white;
}

.links {
    display: flex;
    justify-content: space-around;
    margin: 5px;
    animation: fade-in 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.links-mobile {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.navLink2 {
    text-decoration: none;
    color: white;
    margin: 25px;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}